.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.top-links {
  color: #1351b4;
}

.top-links-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-button {
  background: #1351b4;
  height: 32px;
  color: white;
  border-radius: 42px;
  display: flex; /* Ativa o Flexbox */
  gap: 4px;
  justify-content: center; /* Alinha o texto horizontalmente */
  align-items: center;
  padding: 6px 16px;
}

a {
  text-decoration: none;
}

.mid-bar {
  display: flex;
  justify-content: space-between; /* Alinha o texto horizontalmente */
  align-items: center;
}

.mid-bar-info {
  display: flex;
  justify-content: center; /* Alinha o texto horizontalmente */
  align-items: center;
  gap: 8px;
}

.acervo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acervo-left {
  margin: 0 !important;
  display: flex;
  justify-content: left;
  align-items: end;
  gap: 8px;
}

.search-bar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-bar-input {
  width: 100%;
}

.search-quantity {
  display: flex;
  gap: 16px;
  align-items: center;
}

.retangulo {
  width: 220px; /* Largura do retângulo */
}

.search-area {
  display: flex;
  gap: 40px;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 70px;
  cursor: pointer;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  background: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  min-width: 800px;
}

.search-container input {
  border: none;
  outline: none;
  background-color: #f8f8f8;
  background: #f8f8f8;
  padding: 8px;
  flex: 1;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.search-button i {
  font-size: 16px;
}
.styled-select {
  width: 250px; /* Largura do select */
  height: 56px; /* Altura do select */
  padding-left: 30px; /* Espaço para o ícone à esquerda */
  padding-right: 30px; /* Espaço para a seta */
  border-radius: 8px; /* Borda com cantos arredondados */
  border: 1.25px solid #1351b4; /* Borda azul */
  font-size: 16px; /* Tamanho da fonte */
  background-color: white; /* Cor de fundo */
  color: #1351b4;
  font-weight: 600;
  appearance: none; /* Remove a seta padrão do select */
  -webkit-appearance: none; /* Para o Safari */
  -moz-appearance: none; /* Para o Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7"><path fill="none" stroke="%23007BFF" stroke-width="2" d="M1 1l5 5 5-5" /></svg>'); /* Triângulo invertido */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posiciona a seta à direita */
  background-size: 12px 7px; /* Tamanho da seta */
  cursor: pointer; /* Cursor de clique */
}

/* Para quando o select estiver em foco */
.styled-select:focus {
  outline: none; /* Remove o contorno padrão */
}

/* Estilo opcional para melhorar a aparência do texto */
.styled-select option {
  font-size: 16px;
  color: #1351b4;
}

/* Estilizando o select com a nova classe */
.custom-dropdown {
  width: 80px; /* Largura do select */
  height: 32px; /* Altura de 32px */
  padding-left: 10px; /* Espaço para o texto */
  padding-right: 30px; /* Espaço para a seta */
  border: none; /* Remover bordas */
  font-size: 16px; /* Tamanho da fonte */
  background-color: white; /* Cor de fundo */
  appearance: none; /* Remove a seta padrão do select */
  -webkit-appearance: none; /* Para o Safari */
  -moz-appearance: none; /* Para o Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7"><path fill="none" stroke="%23000000" stroke-width="2" d="M1 1l5 5 5-5" /></svg>'); /* Triângulo invertido */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posiciona a seta à direita */
  background-size: 12px 7px; /* Tamanho da seta */
  cursor: pointer; /* Cursor de clique */
}

/* Para quando o select estiver em foco */
.custom-dropdown:focus {
  outline: none; /* Remove o contorno padrão */
}

/* Estilo opcional para melhorar a aparência do texto */
.custom-dropdown option {
  font-size: 16px;
}

.filter {
  width: 220px;
}
