.tags-container {
    display: flex;
    gap: 10px; /* Espaço entre as tags */
    flex-wrap: wrap; /* Caso os itens ultrapassem a largura, eles irão para a linha de baixo */
    padding-bottom: 80px;
  }
  
  .tag {
    border-radius: 50px; /* Bordas arredondadas */
    padding: 5px 15px; /* Espaçamento interno */
    display: flex;
    align-items: center;
    height: 56px;
    gap: 16px;
    max-width: 200px;
  }
  
  .tag p {
    margin: 0; /* Remove a margem padrão do parágrafo */
    font-size: 14px; /* Ajuste o tamanho da fonte */
  }

  .saved-works-container{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-right: 32px;
    padding-left: 32px;
  }
  
  .saved-work{
    border-bottom: #ccc 1px solid;
    padding: 32px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    margin-top: 28px;          
}

.comment-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-author {
  margin: 0;
  font-weight: bold;
}

.comment-content {
  max-width: 100%;
  margin: 4px 0 0;
  width: 100%;
  padding-bottom: 16px;
}

.comment-input {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  height: 100px;
}

.comment-input-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
  padding-top: 38px;
}

.iconAndCount{
  display: flex;
  align-items: center;
  gap: 8px;
}

.comments {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.comments.open {
  max-height: 1000px; /* Define um valor grande o suficiente para acomodar todos os comentários */
  opacity: 1;
}

.namePhoto {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 20px;
}
